.card {
    flex: 0 0 280px;
    padding: 1.5rem 0;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    box-shadow: 1px 4px 10px rgba(60, 82, 178, 0.2);
}