@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-rubik: 'Rubik', sans-serif;
    --spacing: 1rem;
    --color-*: initial;
    --color-white: #fff;
    --color-blue: #5265E1;
    --color-blue-dark: #242A45;
    --color-blue-menu: rgb(36, 42, 69, 0.95);
    --color-red: #fa5959;
    --color-grey: #a7a7ac;
    --color-grey-btn: #f7f7f7;
    --color-grey-md: #848486;
    --color-grey-dark: #535260;
    --color-border: rgba(255, 255, 255, 0.25);
    --color-separators: #d9d9d9;
    --animate-fadeIn: fadeIn 0.6s forwards;
    --animate-tabs: labelBorder 0.8s forwards;
    --animate-tabs-45: labelBorderShort 0.8s forwards;
    --animate-tab-content: fadeIn 1.6s forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes labelBorder {
        from {
            opacity: 0;
            width: 0;
        }

        to {
            opacity: 1;
            width: 100%;
        }
    }

    @keyframes labelBorderShort {
        from {
            opacity: 0;
            width: 0;
        }

        to {
            opacity: 1;
            width: 45%;
        }
    }
}

@layer components {
    .custom-width {
        @apply w-[80vw] md:w-[77vw] m-auto;
    }

    .hover-red {
        @apply transition duration-400 md:hover:text-red
    }

    .navbar-ul {
        @apply tracking-[1.5px] leading-none gap-3 md:items-center md:text-[12px]
    }

    .blob {
        @apply absolute z-[-1] bg-blue w-[82%] aspect-16/10;
    }

    .blue-button {
        @apply font-medium border-blue bg-blue text-white hover:text-blue hover:bg-white
    }

    .h2-light {
        @apply text-white w-[80vw] m-auto md:max-w-[30vw] mt-0.5 mb-2 md:my-[2.3rem]
    }

    .h2-dark {
        @apply my-1.5 text-blue-dark
    }

    .my-button {
        transition: 0.4s;
        border-radius: 5px;
        box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
        font-weight: 500;
        cursor: pointer;
        border-style: solid;
        border-width: 2px;
    }

    .card {
        flex: 0 0 280px;
        padding: 1.5rem 0;
        aspect-ratio: 3/4;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.2rem;
        box-shadow: 1px 4px 10px rgba(60, 82, 178, 0.2);
    }
}

body {
    font-family: var(--font-rubik);
    background-color: var(--color-white);
    color: var(--color-grey);
    display: flex;
    justify-content: center;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: clamp(2.2rem, 6vw, 3rem);
    margin: 1.7rem auto;
    line-height: 1.2;
}

h2 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    line-height: 1.2;
}

h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
}