@reference "../../../styles/styles.css";

@layer component {
    .blue-button {
        @apply font-medium border-blue bg-blue text-white hover:text-blue hover:bg-white
    }
}

.my-button {
    transition: 0.4s;
    border-radius: 5px;
    box-shadow: 1px 2px 6px rgba(36, 42, 69, 0.2);
    font-weight: 500;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
}